:root {
  --bg: #ebebeb;
  --color: #1c1c20;
}
.blog-tile {
  width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px 0px;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}
.blog-tile:hover {
  transform: translateY(-20px);
}

.blog-tile .imgBox {
  height: 200px;
  margin-bottom: 35px;
  width: 100%;
}
.blog-tile .imgBox img {
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);
  height: 200px;
}

.blog-tile h3 {
  padding: 15px 0;
  margin-top: 10px;
  border-bottom: 2px solid var(--color);
  border-top: 2px solid var(--color);
  text-transform: capitalize;
  font-size: 20px;
  letter-spacing: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blog-tile .description {
  font-size: 12px;
  padding: 15px 5px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blog-tile .tags {
  font-size: 10px;
  width: 100%;
  text-align: left;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 5px;
  color: rgb(116, 116, 116);
}

.empty {
  width: 100%;
  height: 10px;
}

@media screen and (max-width: 600px) {
  .blog-tile {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blog-tile .imgBox {
    height: 150px;
    margin-bottom: 0;
  }
  .blog-tile .imgBox img {
    height: 150px;
  }
}
