@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  background-color: #ebebeb;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

section::-webkit-scrollbar {
  width: 0px;
}
